/* .list {
    max-width: 568px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh);
    overflow-y: scroll;
}

.item {
    list-style: none;
    display: block;
} */

.costContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ingredientsContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: scroll;
}