ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section {
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 84px - 40px);
}



.scrollContainer {
    overflow-y: scroll;
    height: calc(100% - 56px - 40px - 60px - 40px);
}