.App {
    margin: 0 auto;
    padding: 0;
    padding-top: 40px;
    display: block;
    max-width: 1980px;
    width: 100%;
    background-color: #131316;
}

.main {
    border: 1px white solid;
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    display: flex;
}