.header {
    max-width: 100%;
    margin: 0;
    padding: 0;

}

.header__container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: #1C1C21;
    display: block;

}

.header__list {
    margin: 0 auto;
    padding: 0;
    max-width: calc(100% - 320px * 2);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.second_item {
    margin-right: auto;
}

.header__item {
    padding: 0;
    margin: 0;
    display: flex;
    text-decoration: none;
    color: #F2F2F3;
}

.header__item_middle {
    position: absolute;
}

.header__item_middle:before {
    width: 100vw;
    position: relative;
}



@media screen and (max-width:1880px) {
    .header__list {
        max-width: 1240px;
    }
}