.constructorContainer {
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 324px - 292px);
    position: relative;
    margin-top: 180px;
    margin-bottom: 292px;
}

.elements {
    height: calc(100vh - 324px - 292px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}



.purchaseContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 136px;
}

.costContainer {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}